body {
    background-color: #1f1f2e
}

.create-activity {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1a2b48;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;

}

.create-activity h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;

}

.create-activity form {
    display: flex;
    flex-direction: column;
}

.create-activity input,
.create-activity textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #394a68;

    border-radius: 5px;
    background-color: #243b5e;

    color: #fff;

}

.create-activity input::placeholder,
.create-activity textarea::placeholder {
    color: #bbb;

}

.create-activity button {
    padding: 12px;
    background-color: #f39c12;

    color: #fff;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.create-activity button:hover {
    background-color: #e67e22;

}