/* src/Leaderboard.css */

body,
html {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.leaderboard {
    background: linear-gradient(45deg, #2a3d66, #1a2a3d);
    padding: 30px;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    overflow: hidden;

}

.leaderboard h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.leaderboard ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
    max-height: 70vh;
}

.leaderboard li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    padding: 15px 30px;
    border-radius: 8px;
}

.leaderboard li .name {
    flex: 1;
    font-size: 20px;
}

.leaderboard li .score {
    font-size: 20px;
}

.leaderboard .rank-1 {
    border-left: 7px solid #ffd700;
}

.leaderboard .rank-2 {
    border-left: 7px solid #c0c0c0;
}

.leaderboard .rank-3 {
    border-left: 7px solid #cd7f32;
}